.Producto {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    width: 100%;
    height: 100%;
    background-color: #f9f9f9; /* Opcional: fondo suave */
}

/* ----- FORMULARIO GENERAL ----- */
.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.Formulario h1 {
    margin: 20px;
}

.Formulario form {
    display: ruby;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Formulario input,
.Formulario select,
.Formulario button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.Formulario input {
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Formulario select {
    border: none;
    cursor: pointer;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.Formulario button {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Estilo específico para input tipo archivo */
.Formulario input[type="file"] {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto */
.img_product {
    text-align: center;
    display: block;
    margin: 12px auto;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-sizing: content-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.MostrarProductos {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}
