.Producto {
    display: flex;
   
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    width: 100%;
    height: 100%;
    background-color: #f9f9f9; /* Opcional: fondo suave */
}


/* ----- FORMULARIO GENERAL ----- */
.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.Formulario h1 {
    margin: 20px;
}

.Formulario form {
    display: ruby;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Formulario input,
.Formulario select,
.Formulario button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.Formulario input {
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Formulario select {
    border: none;
    cursor: pointer;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.Formulario button {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Estilo específico para input tipo archivo */
.Formulario input[type="file"] {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* ----- CATEGORÍA ----- */
.Categoria {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.Categoria h2 {
    padding: 20px;
    text-align: center;
}

.Categoria form {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.Categoria input,
.Categoria select,
.Categoria button {
    width: 65%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px;
}

.Categoria input {
    padding: 10px;
    outline: none;
    border: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Categoria select {
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.Categoria button {
    width: 175px;
    height: 30px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

/* Imagen del producto */


.MostrarProductos {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}


/*Nuevo css*/

.Produtos{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info_product{
    width: 80%;
}
.info_product strong{
    font-size: 40px;
    color: #000;
}
.img_product{
    width: 10%;
    height: 100%;
    border-radius: 5px;
}

.img_product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
