{% extends "layout.html" %}

{% block content %}
<section class="Info">
    <div class="Info-About">
        <h1>¿Qué es?</h1>
        <p class="Parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quis nihil quidem!
            Cumque, temporibus. Velit accusamus et sunt, quaerat ea nihil expedita quo ut repellat optio!
            Veritatis esse molestiae quae?
        </p>
        <p class="Parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sint blanditiis facilis impedit 
            accusantium exercitationem optio quas natus quasi, quam, architecto amet sit libero! 
            Quo earum laboriosam neque numquam sed.
        </p>
    </div>
</section>
{% endblock %}