<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feria{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li class="register"><a href="/register">Registrarse</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Feria. All rights reserved.</p>
    </footer>
</body>
</html>