<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GestorPlus{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <strong>
                <!--el nombre del usuario-->
                    Usuario:
                    {{ nombre_usuario }}
               
            </strong>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/About">Acerca</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/registrar_venta">Ventas</a></li>
                <li><a href="">Contacto</a></li>
                <a href="/logout" style="color: red;">Cerrar session</a>
            </ul>

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p> </p>
    </footer>
</body>
</html>