{% extends "layout.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Registrar Venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ventas.css') }}">
</head>
<h2>Registrar Venta</h2>
<form method="POST">
    <label>Cliente:</label>
    <select name="cliente" required>
        {% for cliente in clientes %}
            <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
        {% endfor %}
    </select><br>

    <label>Producto:</label>
    <select name="producto" required>
        {% for producto in productos %}
            <option value="{{ producto[0] }}">{{ producto[1] }}</option>
        {% endfor %}
    </select><br>




    <button type="submit">Registrar Venta</button>
</form>
{% endblock %}